.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.claude/
PowerToys/
APP_STORE.md
*.xcodeproj
*.xcworkspace
!.swiftpm/**/*.xcworkspace
